<md-card class='login-card'>
  <md-card-header>
    <div md-card-avatar class='login-header-image'></div>
    <md-card-title color='primary'>כניסה לתיק הרפואי שלך</md-card-title>
  </md-card-header>
  <form class="login-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm" novalidate>
    <md-card-content>
      <br>
      <md-input-container class="user-id">
        <input #userId mdInput placeholder="מספר תעודת זהות" formControlName="id" type="number">
        <md-error *ngIf="loginForm.get('id').hasError('required') && loginForm.get('id').touched">
          יש להזין תעודת זהות
        </md-error>
        <md-error *ngIf="loginForm.get('id').hasError('illegal') && loginForm.get('id').touched && !loginForm.get('id').hasError('required')">
          מבנה תעודת הזהות שהזנת אינו תקין
        </md-error>
        <md-hint align='end'>{{userId.value.length}} / 9</md-hint>
      </md-input-container>
      <br>
      <md-input-container class="user-password">
        <input mdInput placeholder="סיסמה" formControlName="password">
        <md-error *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
          השדה "סיסמה" הוא שדה חובה
        </md-error>
        <md-error *ngIf="(loginForm.get('password').hasError('maxlength') || loginForm.get('password').hasError('minlength')) && loginForm.get('password').touched">
          הסיסמה לא תקינה. הזן בין 8 ל־10 תווים (אותיות באנגלית עם מספרים).
        </md-error>
        <md-error *ngIf="loginForm.get('password').hasError('illegal') && loginForm.get('password').touched">
          הסיסמה לא תקינה. (אותיות באנגלית עם מספרים).
        </md-error>
      </md-input-container>
      <div class="login-progress" *ngIf="loginForm.controls['password'].pending">
        <md-progress-bar color="accent" mode="indeterminate"></md-progress-bar>
        <p>בדיקה אסנכרונית בתהליך</p>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button color='primary' type="submit" [disabled]="loginForm.invalid">כניסה</button>
      <button md-raised-button color='accent'>חדש! קוד חד-פעמי במסרון</button>
    </md-card-actions>
  </form>
</md-card>
